<div class="container">
  <h1>Using ngModel</h1>
  <div class="table-wrapper">
    <table class="users-table">
      <thead>
        <tr class="row">
          <th class="header" *ngFor="let header of headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers$; let i = index;" class="row">
          <td class="cell">{{i + 1}}</td>
          <td class="cell">{{user.name}}</td>
          <td class="cell">{{user.username}}</td>
          <td class="cell">{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="search-section">
    <input id="keyword" type="search" placeholder="Enter keyword" [(ngModel)]="keyword" (input)="onInput()" />
  </div>
</div>
